  html{
  height: 100%;
  }


body {
  background: radial-gradient(circle at 0.8% 3.1%, rgb(255, 188, 224) 0%, rgb(170, 165, 255) 46%, rgb(165, 255, 205) 100.2%);
  font-family: 'Jura', sans-serif;  
  min-height: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  line-height: 28px;
  margin-bottom: 0;
   text-transform: uppercase;

}

h2 {
  color: rgb(165, 255, 205);
  font-family: 'Jura', sans-serif;  
  text-align: center;
  font-size: 25px;
}

h4 {
  color: rgb(203, 173, 250);
  text-align: center;
  font-size: 18px;
  text-transform:capitalize ;
}


p {
  text-align: center;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}


small {
    font-size: 14px;
    margin-top: 10px;
    line-height: 18px;
    text-align: center;
    color: #fff;
  display: block;
}

button {
background: rgb(203, 173, 250);
    border-bottom: 2px solid (208, 208, 208);
    font-size: 20px;
    border: none;
    height: 40px;
    border-radius: 40px;
  width: 40px;
    transition: all 0.3s ease 0s;}

button:hover{
      background: rgb(170, 165, 255);

}


.container {
  background-image: url("./images/watch.png");
  padding: 20px;  
  background-size: 1000px 550px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.btn {
background: rgb(203, 173, 250);
    border-bottom: 2px solid (208, 208, 208);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    height: 40px;
    transition: all 0.3s ease 0s;}

.btn:hover {
    background: rgb(191, 224, 251);
}


.form-control {
    border-bottom: 2px solid rgb(208, 208, 208);
    font-size: 14px;
    height: 40px;
    border-radius: 5px;

}

.weather-app-wrapper {
  max-width: 500px;
  margin: 50px auto;
}

.weather-app {
  padding: 10px;
  margin-top: 100px;
}

form{
  display: inline-block;

}

.row {
  text-align: center;
  color: #fff;
    margin-bottom: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height:70px;
  width: 70px;
}

.weather-temperature strong {
  color: #fff;
font-family: 'Exo', sans-serif;
 text-align: center;
  font-size: 80px;
  line-height: 1;
  font-weight: 900;
}

.weather-temperature .units {
font-family: 'Exo', sans-serif;
  color: #fff;
  position: relative;
  font-weight: 900;
  font-size: 20px;
  top: -45px;
  margin: 0 auto;
}


.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.weather-forecast-date {
  font-size: 18px;
  color: #fff;
}

.weather-forecast-temperature-min {
  opacity: 0.5;

}

.weather-forecast-temperatures {
  font-size: 14px;

}

.weather-icons {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

